:root {
  --fui-primary-color-menu-hover: #023767;
  --fui-primary-color-menu-active: #012F5A;
  --fui-primary-color-hover: #0F8BFF;
  --fui-primary-color-normal: #007CF0;
  --fui-primary-color-active: #0069CC;
  --fui-secondary-color-menu-hover: #005661;
  --fui-secondary-color-menu-active: #004048;
  --fui-secondary-color-hover: #04CBE1;
  --fui-secondary-color-normal: #00B8CC;
  --fui-secondary-color-active: #00A6B8;
  --fui-fill-color-light: #292929;
  --fui-fill-color-normal: #242424;
  --fui-fill-color-heavy: #1F1F1F;
  --fui-fill-color-weighty: #1A1A1A;
  --fui-background-color-light: #141414;
  --fui-background-color-normal: #0F0F0F;
  --fui-background-color-weighty: #050505;
  --fui-line-color-light: #333333;
  --fui-line-color-normal: #3D3D3D;
  --fui-line-color-heavy: #0F0F0F;
  --fui-line-color-weighty: #050505;
  --fui-text-color-disabled: #4A4A4A;
  --fui-text-color-minor: #707070;
  --fui-text-color-assist: #8A8A8A;
  --fui-text-color-secondary: #BDBDBD;
  --fui-text-color-main: #D6D6D6;
  --fui-icon-color-disabled: #4A4A4A;
  --fui-icon-color-assist: #707070;
  --fui-icon-color-secondary: #8A8A8A;
  --fui-icon-color-main: #BDBDBD;
  --fui-nav-color-background: #333333;
  --fui-nav-color-product: #0F0F0F;
  --fui-reverse-color-default: #FFFFFF;
  --fui-green-color-1: #0B4427;
  --fui-green-color-2: #064E2A;
  --fui-green-color-3: #05713B;
  --fui-green-color-4: #088044;
  --fui-green-color-5: #048F4A;
  --fui-red-color-1: #570A0A;
  --fui-red-color-2: #6E0A0A;
  --fui-red-color-3: #AD1D1D;
  --fui-red-color-4: #C52B2B;
  --fui-red-color-5: #E03131;
  --fui-blue-color-1: #042C7F;
  --fui-blue-color-2: #093590;
  --fui-blue-color-3: #195ADB;
  --fui-blue-color-4: #286BF2;
  --fui-blue-color-5: #387AFF;
  --fui-orange-color-1: #4A2B06;
  --fui-orange-color-2: #613501;
  --fui-orange-color-3: #794100;
  --fui-orange-color-4: #975100;
  --fui-orange-color-5: #A85A00;
  --fui-yellow-color-1: #4A3902;
  --fui-yellow-color-2: #5B4700;
  --fui-yellow-color-3: #947100;
  --fui-yellow-color-4: #AA8200;
  --fui-yellow-color-5: #BD9102;
  --fui-purple-color-1: #2D1E76;
  --fui-purple-color-2: #36219B;
  --fui-purple-color-3: #5D3FF7;
  --fui-purple-color-4: #6B4EFF;
  --fui-purple-color-5: #7358FD;
}