:root {
  --fui-primary-color-menu-hover: #F0F8FF;
  --fui-primary-color-menu-active: #E6F3FF;
  --fui-primary-color-hover: #35A9FF;
  --fui-primary-color-normal: #1D96F3;
  --fui-primary-color-active: #1575CF;
  --fui-secondary-color-menu-hover: #EEFBFC;
  --fui-secondary-color-menu-active: #DEF7FA;
  --fui-secondary-color-hover: #2ACFE2;
  --fui-secondary-color-normal: #17C1D4;
  --fui-secondary-color-active: #0BA1B3;
  --fui-fill-color-light: #FFFFFF;
  --fui-fill-color-normal: #FAFBFC;
  --fui-fill-color-heavy: #F4F6F8;
  --fui-fill-color-weighty: #EFF2F4;
  --fui-background-color-light: #EAEDF0;
  --fui-background-color-normal: #E2E6E9;
  --fui-background-color-weighty: #D8DDE1;
  --fui-line-color-light: #EFF2F4;
  --fui-line-color-normal: #E2E6E9;
  --fui-line-color-heavy: #D8DDE1;
  --fui-line-color-weighty: #CED4DA;
  --fui-text-color-disabled: #CED4DA;
  --fui-text-color-minor: #A7B0BE;
  --fui-text-color-assist: #8A92A0;
  --fui-text-color-secondary: #666666;
  --fui-text-color-main: #333333;
  --fui-icon-color-disabled: #CED4DA;
  --fui-icon-color-assist: #A7B0BE;
  --fui-icon-color-secondary: #8A92A0;
  --fui-icon-color-main: #666666;
  --fui-nav-color-background: #1F48A7;
  --fui-nav-color-product: #071B57;
  --fui-reverse-color-default: #FFFFFF;
  --fui-green-color-1: #F2FCF8;
  --fui-green-color-2: #E4F7EE;
  --fui-green-color-3: #32B775;
  --fui-green-color-4: #22A765;
  --fui-green-color-5: #1A8F55;
  --fui-red-color-1: #FEF6F6;
  --fui-red-color-2: #FEEBEB;
  --fui-red-color-3: #E06161;
  --fui-red-color-4: #DD4B4B;
  --fui-red-color-5: #C63D3D;
  --fui-blue-color-1: #F5F8FF;
  --fui-blue-color-2: #E5EEFF;
  --fui-blue-color-3: #5688EE;
  --fui-blue-color-4: #4879DD;
  --fui-blue-color-5: #3C6CCE;
  --fui-orange-color-1: #FFF6EB;
  --fui-orange-color-2: #FFEDD8;
  --fui-orange-color-3: #F8A13B;
  --fui-orange-color-4: #EF8B16;
  --fui-orange-color-5: #DE7800;
  --fui-yellow-color-1: #FFF9E6;
  --fui-yellow-color-2: #FFF4D1;
  --fui-yellow-color-3: #EDB912;
  --fui-yellow-color-4: #E0AB00;
  --fui-yellow-color-5: #CE9D00;
  --fui-purple-color-1: #F8F7FF;
  --fui-purple-color-2: #EEEBFF;
  --fui-purple-color-3: #816BF1;
  --fui-purple-color-4: #7259EE;
  --fui-purple-color-5: #5F48D2;
}