$fui-colors: (
  primary: (
    menu-hover:  #053544,
    menu-active: #042833,
    hover:       #06BAF0,
    normal:      #00AADD,
    active:      #007496,
  ),
  secondary: (
    menu-hover:  #005661,
    menu-active: #004048,
    hover:       #04CBE1,
    normal:      #00B8CC,
    active:      #00A6B8,
  ),
  fill: (
    light:   #022E43,
    normal:  #012739,
    heavy:   #012333,
    weighty: #011D2A,
  ),
  background: (
    light:   #031924,
    normal:  #03141C,
    weighty: #020B0F,
  ),
  line: (
    light:   #073F5A,
    normal:  #0C4E6E,
    heavy:   #03141C,
    weighty: #020B0F,
  ),
  text: (
    disabled: #4A637C,
    minor:    #5B748C,
    assist:   #6E879F,
    secondary:#91A5B8,
    main:     #C4D1DD,
  ),
  icon: (
    disabled:  #4A637C,
    assist:    #5B748C,
    secondary: #6E879F,
    main:      #91A5B8,
  ),
  nav: (
    background: #073F5A,
    product:    #03141C,
  ),
  reverse: (
    default: #FFFFFF,
  ),
  green: (
    1: #0B4427,
    2: #064E2A,
    3: #05713B,
    4: #088044,
    5: #048F4A,
  ),
  red: (
    1: #570A0A,
    2: #6E0A0A,
    3: #AD1D1D,
    4: #C52B2B,
    5: #E03131,
  ),
  blue: (
    1: #042C7F,
    2: #093590,
    3: #195ADB,
    4: #286BF2,
    5: #387AFF,
  ),
  orange: (
    1: #4A2B06,
    2: #613501,
    3: #794100,
    4: #975100,
    5: #A85A00,
  ),
  yellow: (
    1: #4A3902,
    2: #5B4700,
    3: #947100,
    4: #AA8200,
    5: #BD9102,
  ),
  purple: (
    1: #2D1E76,
    2: #36219B,
    3: #5D3FF7,
    4: #6B4EFF,
    5: #7358FD,
  ),
);

@import '../theme-builder';
