$fui-colors: (
  primary: (
    menu-hover:  #F0F8FF,
    menu-active: #E6F3FF,
    hover:       #35A9FF,
    normal:      #1D96F3,
    active:      #1575CF,
  ),
  secondary: (
    menu-hover:  #EEFBFC,
    menu-active: #DEF7FA,
    hover:       #2ACFE2,
    normal:      #17C1D4,
    active:      #0BA1B3,
  ),
  fill: (
    light:   #FFFFFF,
    normal:  #FAFBFC,
    heavy:   #F4F6F8,
    weighty: #EFF2F4,
  ),
  background: (
    light:   #EAEDF0,
    normal:  #E2E6E9,
    weighty: #D8DDE1
  ),
  line: (
    light:   #EFF2F4,
    normal:  #E2E6E9,
    heavy:   #D8DDE1,
    weighty: #CED4DA,
  ),
  text: (
    disabled:  #CED4DA,
    minor:     #A7B0BE,
    assist:    #8A92A0,
    secondary: #666666,
    main:      #333333,
  ),
  icon: (
    disabled:  #CED4DA,
    assist:    #A7B0BE,
    secondary: #8A92A0,
    main:      #666666,
  ),
  nav: (
    background: #1F48A7,
    product:    #071B57,
  ),
  reverse: (
    default: #FFFFFF,
  ),
  green: (
    1: #F2FCF8,
    2: #E4F7EE,
    3: #32B775,
    4: #22A765,
    5: #1A8F55,
  ),
  red: (
    1: #FEF6F6,
    2: #FEEBEB,
    3: #E06161,
    4: #DD4B4B,
    5: #C63D3D,
  ),
  blue: (
    1: #F5F8FF,
    2: #E5EEFF,
    3: #5688EE,
    4: #4879DD,
    5: #3C6CCE,
  ),
  orange: (
    1: #FFF6EB,
    2: #FFEDD8,
    3: #F8A13B,
    4: #EF8B16,
    5: #DE7800,
  ),
  yellow: (
    1: #FFF9E6,
    2: #FFF4D1,
    3: #EDB912,
    4: #E0AB00,
    5: #CE9D00,
  ),
  purple: (
    1: #F8F7FF,
    2: #EEEBFF,
    3: #816BF1,
    4: #7259EE,
    5: #5F48D2,
  ),
);

@import '../theme-builder';
