:root {
  --fui-primary-color-menu-hover: #053544;
  --fui-primary-color-menu-active: #042833;
  --fui-primary-color-hover: #06BAF0;
  --fui-primary-color-normal: #00AADD;
  --fui-primary-color-active: #007496;
  --fui-secondary-color-menu-hover: #005661;
  --fui-secondary-color-menu-active: #004048;
  --fui-secondary-color-hover: #04CBE1;
  --fui-secondary-color-normal: #00B8CC;
  --fui-secondary-color-active: #00A6B8;
  --fui-fill-color-light: #022E43;
  --fui-fill-color-normal: #012739;
  --fui-fill-color-heavy: #012333;
  --fui-fill-color-weighty: #011D2A;
  --fui-background-color-light: #031924;
  --fui-background-color-normal: #03141C;
  --fui-background-color-weighty: #020B0F;
  --fui-line-color-light: #073F5A;
  --fui-line-color-normal: #0C4E6E;
  --fui-line-color-heavy: #03141C;
  --fui-line-color-weighty: #020B0F;
  --fui-text-color-disabled: #4A637C;
  --fui-text-color-minor: #5B748C;
  --fui-text-color-assist: #6E879F;
  --fui-text-color-secondary: #91A5B8;
  --fui-text-color-main: #C4D1DD;
  --fui-icon-color-disabled: #4A637C;
  --fui-icon-color-assist: #5B748C;
  --fui-icon-color-secondary: #6E879F;
  --fui-icon-color-main: #91A5B8;
  --fui-nav-color-background: #073F5A;
  --fui-nav-color-product: #03141C;
  --fui-reverse-color-default: #FFFFFF;
  --fui-green-color-1: #0B4427;
  --fui-green-color-2: #064E2A;
  --fui-green-color-3: #05713B;
  --fui-green-color-4: #088044;
  --fui-green-color-5: #048F4A;
  --fui-red-color-1: #570A0A;
  --fui-red-color-2: #6E0A0A;
  --fui-red-color-3: #AD1D1D;
  --fui-red-color-4: #C52B2B;
  --fui-red-color-5: #E03131;
  --fui-blue-color-1: #042C7F;
  --fui-blue-color-2: #093590;
  --fui-blue-color-3: #195ADB;
  --fui-blue-color-4: #286BF2;
  --fui-blue-color-5: #387AFF;
  --fui-orange-color-1: #4A2B06;
  --fui-orange-color-2: #613501;
  --fui-orange-color-3: #794100;
  --fui-orange-color-4: #975100;
  --fui-orange-color-5: #A85A00;
  --fui-yellow-color-1: #4A3902;
  --fui-yellow-color-2: #5B4700;
  --fui-yellow-color-3: #947100;
  --fui-yellow-color-4: #AA8200;
  --fui-yellow-color-5: #BD9102;
  --fui-purple-color-1: #2D1E76;
  --fui-purple-color-2: #36219B;
  --fui-purple-color-3: #5D3FF7;
  --fui-purple-color-4: #6B4EFF;
  --fui-purple-color-5: #7358FD;
}